.App {
  text-align: center;
  color: rgb(70, 70, 70);

}

.App-header {
  background-color: #05aa9e;
  min-height: 70px;
  padding: 50px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #05aa9e;
  min-height: 100px;
}

.body {
  margin-left: 15%;
  margin-right: 15%;
}

.buttons {
margin-top: 10px;
}

.verybad {
  margin-right: 40px; 
}
.bad {
  margin-right: 40px; 
}
.good {
  margin-left: 40px; 
}
.verygood {
  margin-left: 40px; 
}
